<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Plan vélo - Brussels</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>

<body>
  <img src="<%=require('../assets/img/Artboard1.jpg')%>" alt="" width="100" height="auto">
  <a href="<%=require('/test.html')%>">Example</a>
  <script defer src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>
