<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Plan vélo - Brussels</title>
    <link
      rel="stylesheet"
      href="<%=htmlWebpackPlugin.files.chunks.main.css %>"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
  </head>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Plan vélo - Brussels</title>
    <link
      rel="stylesheet"
      href="<%=htmlWebpackPlugin.files.chunks.main.css %>"
    />
  </head>

  <body>
    <section class="web-flex">
      <article>
        <nav class="nav">
          <ul>
            <a href="km-evolution.html"><li>Evolution</li></a>
            <a href="index.html"><li>Commute to work</li></a>
            <li>Villo!</li>
          </ul>
        </nav>
      </article>

      <article>
        <div>
          <h1 class="header-background-image header-title">
            <span class="h1-title">Evolution per year of the new </span>
            <br /><span class="h1-title">cyclable paths created</span>
          </h1>
        </div>
        <div class="web-flex graph-context">
          <div class="graph-background">
            <canvas id="cumulated" class="center-items"></canvas>
          </div>
          <div>
            <p class="graph-description center-items">
              The total amount of cyclable paths is calculated in kilometers and
              includes the ones separated from the main roads as well as the
              suggested paths and the Regional Cyclable Itineraries (RCI). The
              RCIs are suggested paths for cyclists willing to commute on a
              medium to long distance. These itineraries take into account the
              calmest streets and the less stressful paths for the users. The
              accuracy of the really past data (1896-1970) are less reliable in
              terms of consistency. Nonetheless, the overall data remain as
              close as possible to the reality and can be trustworthy on a
              holistic vision of the infrastructure evolution. A significant
              year to mention is 2002, where the political courage and boldness
              allowed the apparition of a project considered as not realistic at
              its time.
            </p>
          </div>
        </div>
      </article>
    </section>
    <script
      defer
      src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"
    ></script>
  </body>
</html>
