body {
  @include font-smoothing(antialiased);
  overflow-x: hidden;
  overflow-y: hidden;
  color: $font-color;
  font-family: font-family(base);
  font-size: font-size(base);
  line-height: $line-height;
  user-select: none;
  display: flex;
  // background-image: url('../assets/img/Desktop.png');

  @media only screen and (max-width: 992px) {
    flex-direction: column
  }

  @media only screen and (max-width: 320px) {
    overflow: overlay;
  }
}

p,
ul,
ol {
  margin: 0 0 $paragraph-whitespace;
}

p,
.paragraph {
  color: pal-color(gray, light);
  font-family: font-family(paragraph);

  @media only screen and (max-width: 1024px) {
    font-size: 12px;
    line-height: 16px;
  }
}

a,
.anchor {
  text-decoration: $anchor-decoration;
  color: pal-color(white);
}

b,
strong {
  font-weight: font-weight(bold);
}

svg {
  box-sizing: initial;
}

.disable-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden!important;
}
