$map-color-palette: (
  white: (base: #fff),
  blue:  (base: #2D3E71),
  yellow:  (base: #EAB818),
  gray:  (
    base:     #19191a,
    light:    #4b5358,
    lighter:  #ccc
  )
);

// Font size:

$map-font-size: (
  //tiny:                     '',
  small:                    12px,
  base:                     16px,
  medium:                   18px,
  large:                    36px,
  //xlarge:                   '',
  //xxlarge:                  '',
  //huge:                     ''
);


$map-heading-size: (
  h1:                       font-size(large),
  h2:                       font-size(medium),
  h3:                       font-size(base),
  h4:                       font-size(base),
  h5:                       font-size(base),
  h6:                       font-size(base)
);

$map-font-size: map-merge($map-font-size, $map-heading-size);



// Font weight

$map-font-weight: (
  lightest:                 100,
  lighter:                  200,
  light:                    300,
  normal:                   400,
  bold:                     600,
  bolder:                   700,
  boldest:                  900
);

$map-font-weight-elements: (
  heading:                  font-weight(bold)
);

$map-font-weight: map-merge($map-font-weight, $map-font-weight-elements);



// Typography

$line-height:               2rem;

$anchor-color:              pal-color(blue);
$anchor-decoration:         none;
$anchor-hover-color:        pal-color(blue);
$anchor-hover-decoration:   none;

$paragraph-whitespace:      $line-height + em;


$map-font-family: (
base:                     ('CircularStd-Book', arial, sans-serif),
heading:                  ('CircularStd-Bold', arial, sans-serif),
paragraph:                ('CircularStd-Book', arial, sans-serif),
navigation:               ('CircularStd-Book', arial, sans-serif),
button:                   ('CircularStd-Book', arial, sans-serif),
button-bold:              ('CircularStd-Bold', arial, sans-serif),
);

$heading-color:             pal-color(gray);



// Spacing

$map-spacing: (
  tiny:                     10px,
  small:                    20px,
  base:                     30px,
  medium:                   40px,
  large:                    50px
);

// Images
$image-path: '/dist/img/';

// Global application configuration

$hex-body-bg:                 emo-color(light);
$font-color:                  pal-color(gray, light);
$transition-duration-default: .2s;
$header-height:               100px;
$mobile-header-height:        70px;
$medium-content-offset:       50px;
$large-content-offset:        100px;
$xlarge-content-offset:       150px;
$global-border-radius:        3px;
$grid-gutter-width:           16px;

// old bootstrap settings
$screen-xs-max:             768px - 1;
$screen-sm-min:             768px;
$screen-sm-max:             992px - 1;
$screen-md-min:             992px;
$screen-md-max:             1170px - 1;
$screen-lg-min:             1230px;
