@font-face {
  font-family: 'CircularStd-Book';
  font-weight: 100;
  src: url('/assets/fonts/circular-std-book-cufonfonts-webfont/CircularStd-Book.woff');

}

@font-face {
  font-family: 'CircularStd-BookItalic';
  font-weight: 100;
  src: url('/assets/fonts/circular-std-book-cufonfonts-webfont/CircularStd-BookItalic.woff');

}

@font-face {
  font-family: 'CircularStd-Medium';
  font-weight: 300;
  src: url('/assets/fonts/circular-std-book-cufonfonts-webfont/CircularStd-Medium.woff');

}

@font-face {
  font-family: 'CircularStd-MediumItalic';
  font-weight: 300;
  src: url('/assets/fonts/circular-std-book-cufonfonts-webfont/CircularStd-MediumItalic.woff');
}


@font-face {
  font-family: 'CircularStd-Bold';
  font-weight: 500;
  src: url('/assets/fonts/circular-std-book-cufonfonts-webfont/CircularStd-Bold.woff');

}

@font-face {
  font-family: 'CircularStd-BoldItalic';
  font-weight: 500;
  src: url('/assets/fonts/circular-std-book-cufonfonts-webfont/CircularStd-BoldItalic.woff');
}

@font-face {
  font-family: 'CircularStd-Black';
  font-weight: 700;
  src: url('/assets/fonts/circular-std-book-cufonfonts-webfont/CircularStd-Black.woff');

}

@font-face {
  font-family: 'CircularStd-BlackItalic';
  font-weight: 700;
  src: url('/assets/fonts/circular-std-book-cufonfonts-webfont/CircularStd-BlackItalic.woff');
}
