.l-header {
  background: pal-color(blue);
  width: 300px;
  min-height: 100vh;

  &__container {
    padding: 70px 0 0 45px;
  }
}

@media only screen and (min-width: 992px) {
  .l-header.is-active {
    position: relative;
    z-index: 1;
    width: 300px;
  }
}

.l-header__toggle {
  cursor: pointer;
  display: none;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 75px;
  text-decoration: none;
}

.l-header__toggle > span {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: 2px;
  transform: none;
  transition: all .15s;
  background-color: pal-color(white);
}


.l-header__toggle > span:first-of-type {
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.l-header__toggle > span:nth-of-type(2) {
  top: 0;
}

.l-header__toggle > span:nth-of-type(3) {
  bottom: 0;
}


.l-header__toggle.is-active > span:first-of-type {
  opacity: 0;
}

.l-header__toggle.is-active > span:nth-of-type(2) {
  transform: rotate(45deg) translate3d(5px, 7px, 0);
}

.l-header__toggle.is-active > span:nth-of-type(3) {
  transform: rotate(-45deg) translate3d(5px, -6px, 0);
}

.l-header__mobile {
  display: none;
  width: 100vw;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.l-header__bg {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: pal-color(blue);
  transform: skewY(-3deg);
  transform-origin: top left;
}

.l-header__mobile__logo {
  z-index: 2;
  margin-left: 80px;
  margin-top: 42px;
}

.l-header.is-active {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100vw;
}



@media only screen and (max-width: 992px) {

  .l-header__container {
    position: relative;
  }

  .l-header__mobile {
    display: flex;
    z-index: 1;
  }

  .l-header__container{
    padding: 70px 0 0 80px;
  }

  .l-header__toggle {
    display: block;
    width: 30px;
    height: 18px;
  }

  .l-header__logo--desktop {
    display: none;
  }

  .l-header {
    display: none;
  }

  .l-calendar-day {
    width: 100%;
  }
}


@media only screen and (max-width: 576px){
  .l-header__mobile {
    height: 130px;
  }

  .l-header__mobile__logo  {
    margin-left: 40px;
    margin-top: 44px;
  }

  .l-header__toggle {
    right: 40px;
  }

  .l-header__container{
    padding: 70px 0 0 70px;
  }
}
