.l-navigation {
  padding-top: 125px;
  font-family: AvenirNext-Medium, Helvetica,sans-serif;

  @media only screen and (max-width: 1024px) {
    padding-top: 55px;
  }

  @media only screen and (min-width: 768px) {
    padding-top: 90px;
  }

  @media only screen and (min-width: 320px) {
    padding-top: 90px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;

    @media only screen and (max-width: 1024px) {
      font-size: 14px;
    }

    &__item {
      padding: 20px 0px 20px 40px;

      @media only screen and (max-width: 1024px) {
        padding: 10px 0px 10px 30px;
      }


      @media only screen and (min-width: 768px) {
        padding: 10px 0px 10px 50px;
      }

      @media only screen and (min-width: 320px) {
        padding: 10px 0px 10px 50px;
      }

      &:hover {
        background-color: pal-color(yellow);
      }

      & a {
        display: block;
        width: -webkit-fill-available;
      }
    }
  }

  &__icon {
    padding-right: 20px;
  }
}

.is-current {
  background-color: pal-color(yellow);
}

.center-item {
  display: flex;
  align-items: center;
}

.lang {
  position: fixed;
  left: 35px;
  bottom: 35px;

  @media only screen and (min-width: 1024px) {
    left: 20px;
    bottom: 20px;
  }
}

.lang-btn {
  padding: 0.5rem;
  border: none;
  padding: 1rem;
  background-color: rgba(0,0,0,0);
  color: white;
  border-radius: 50%;
  font-size: 16px;
  font-family: "CircularStd-Black";

  @media only screen and (max-width: 1024px) {
    font-size: 14px;
    padding: 0.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.active {
  color: pal-color(yellow);
}

.anchor {
  @media only screen and (max-width: 1024px) {
    font-size: 12px;
  }
}
