nav {
  background-color: #2D3E71;
  color: white;
  width: 15vw;
  height: 100vh;
  z-index: 999;
}

a {
  color: white;
}

li {
  padding: 1rem;
}

li:hover {
  background-color: #EAB818;
  padding: 1rem;
}

.web-flex {
  display: flex;
}

.flex-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
