.l-navigation {
  padding-top: 265px;
  font-family: AvenirNext-Medium, Helvetica,sans-serif;

  @media only screen and (max-width: 992px) {
    padding-top: 130px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;

    &__item {
      padding: 20px 0px 20px 60px;

      &:hover {
        background-color: pal-color(yellow);
      }

      & a {
        display: block;
        width: -webkit-fill-available;
      }
    }
  }

  &__icon {
    padding-right: 20px;
  }
}

.is-current {
  background-color: pal-color(yellow);
}
