.historical-map {
  width: 55%;
  height: 100vh;
}

.h-graph {
  width: 45vw;
  display: flex;
  flex-direction: column;
}

.h-title {
  font-size: 24px;
  line-height: 24px;
}

.h-header {
  padding: 5rem;

  @media only screen and (max-width: 1024px) {
    padding: 50px;
  }
}
