.historical-map {
  width: 55%;
  height: 100vh;

  @media only screen and (min-width: 320px) {
    height: calc(100vh - 80px);
    width: 100vw;
    margin-top: -20px;
  }


  @media only screen and (min-width: 768px) {
    height: calc(100vh - 60px);
    width: 100vw;
    margin-top: -40px;
  }
}

.h-graph {
  width: 45vw;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 320px) {
    width: auto;
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }

}

.h-title {
  line-height: 24px;

  @media only screen and (min-width: 320px) {
    font-size: 18px;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 24px;
  }
}

.h-header {
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media only screen and (min-width: 1024px) {
    padding: 50px;
  }

  @media only screen and (min-width: 768px) {
    padding: 20px;
  }

}
