// Settings
@import 'helper/reset';
@import 'helper/function';
@import 'base/font';
@import 'base/config';

// // Tools
@import 'helper/**/*';

// External
@import 'external/bootstrap';

// Base
@import 'base/base';
@import 'base/heading';

// Component
@import 'component/*';

// Master layout
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/navigation-mobile';
@import 'layout/master';
@import 'layout/footer';

// Page layout
@import 'layout/page';

body {
  font-family: font-family('CircularStd-Book');
  font-size: 16px;
  line-height: 23px;

  overflow-y: hidden;

}

.h1-title {
  font-family: font-family('CircularStd-Black');
  line-height: 55px;

  background-color: white;
  color: #2D3F72;

  margin-left: 5rem;
  margin-top: 5rem;
  padding: 0.5rem 1rem;
}

.header-title {
  height: 40vh;
}

.header-background-image {
  background-image: url('../assets/img/Illustration_01-01.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -5rem;
}

.graph-context {
  height: 60vh;
}

.graph-description {
  width: 35vw;
  padding: 5rem;
}

.graph-background {
  background-color: #efefef;
  padding: 5rem;

  width: 50vw;
  margin-top: -1.2rem;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 75%;
  height: 100%;
  margin-top: 95vh;
}
