@include heading {
  margin: 0 0 .5em;
  font-family: font-family(heading);
}

h1,
.h1 {
  font-size: font-size(h1);

  @include media-breakpoint-down(xs) {
    font-size: font-size(h2);
  }

  > span {
    color: emo-color(positive);
  }
}

h2,
.h2 {
  font-size: font-size(h2);

  @include media-breakpoint-down(md) {
    font-size: font-size(h3);
  }
}

h3,
.h3 {
  font-size: font-size(h3);

  @include media-breakpoint-down(md) {
    font-size: font-size(h4);
  }
}

h4,
.h4 {
  font-size: font-size(h4);

  @include media-breakpoint-down(md) {
    font-size: font-size(h5);
  }
}

h5,
.h5 {
  font-size: font-size(h5);

  @include media-breakpoint-down(md) {
    font-size: font-size(h6);
  }
}

h6,
.h6 {
  font-size: font-size(h6);
}
